.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 100px;
}

.container {
    width: 450px;
    height: 200px;
    background-color: darkslategray;
    border: 3px solid aqua;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;

}
.inputContainer{
    padding: 11px;
    color: white;
}
.display {
    background-color: aqua;
    width: 430px;
    height: 90px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-size: 40px;
    color: darkslategray;
}

.button {
    padding: 17px;
    border-radius: 8px;
    background-color: aqua;
    margin: 17px;
}

.containerButton {
    background-color: darkslategray;
    border: 3px solid aqua;
    border-radius: 8px;

}

.active {
    color: red;
}